<h1><%=@recipe.name%></h1>
<table>
  <tr>
    <th>Item</th>
    <th>Quantity</th>
    <th>Unit</th>
  </tr>
<%@recipe.required_ingredients.each do |ing|%>
    <tr>
      <td><%=Ingredient.find(ing.ingredient_id).name%></td>
      <td><%=ing.quantity%></td>
      <td><%=ing.unit%></td>
    </tr>
  <%end%>
</table>
<p><%=@recipe.instructions%></p><br>
<%=link_to "Edit Recipe", edit_recipe_path(@recipe)%>
<br>
