<%if @available.errors.any?%>
  <div class='fields_with_errors'>
    <%@available.errors.full_messages.each do |msg|%>
      <%=msg%>
    <%end%>
  </div>
<%end%>
<p>Please update the quantites you have on hand.</p>
<%=form_for(@available) do |f|%>
  <%=f.collection_select(:ingredient_id, @ingredients, :id, :name)%>
  <%=hidden_field_tag :"available_ingredient[pantry_id]", params[:id]%>
  <%=text_field_tag :"available_ingredient[quantity]"%>
  <%=select_tag :"available_ingredient[unit]", raw("<option>Fluid Oz</option>
                             <option>Cup</option>
                             <option>Pint</option>
                             <option>Quart</option>
                             <option>Gallon</option>
                             <option>Other</option>
                             <option>Teaspoon</option>
                             <option>Tablespoon</option>")%>
  <%=submit_tag%>
<br>
<%end%>
<br>
<%=link_to "Add Ingredient", new_ingredient_path%>
